* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #aaa;
}
h1, h2, h3 {
    line-height: 1.2;
}

nav {
    background: grey;
    color: #fff;
    padding: 10px;
}
nav button {
    background: #fff;
    color: #000;
    padding: 5px 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

nav button:hover {
    background: #000;
    color: #fff;
}
button a {
    color: #000;
    text-decoration: none;
}

button a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
}

ul li p {
    margin: 0;
}

iframe {
    display: block;
    width: 90%;
    max-width: 560px;
    margin-left: auto; 
    margin-right: auto;
}

